<a href="https://colab.research.google.com/github/shubhamthakur6228/shubham-thakur/blob/main/practical6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Practical** **no** **6**

In [1]:
# Importing the required libraries
import seaborn as sns
import pandas as pd

In [2]:
#  View the Datasets and loading one of them
sns.get_dataset_names()
data = sns.load_dataset('titanic')
data

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [3]:
# Convert the dataset into a DataFrame
df = pd.DataFrame(data)
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [4]:
# To get the null values
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [5]:
# Catching column "age" of null values for better understanding
df['age'].head(50)

0     22.0
1     38.0
2     26.0
3     35.0
4     35.0
5      NaN
6     54.0
7      2.0
8     27.0
9     14.0
10     4.0
11    58.0
12    20.0
13    39.0
14    14.0
15    55.0
16     2.0
17     NaN
18    31.0
19     NaN
20    35.0
21    34.0
22    15.0
23    28.0
24     8.0
25    38.0
26     NaN
27    19.0
28     NaN
29     NaN
30    40.0
31     NaN
32     NaN
33    66.0
34    28.0
35    42.0
36     NaN
37    21.0
38    18.0
39    14.0
40    40.0
41    27.0
42     NaN
43     3.0
44    19.0
45     NaN
46     NaN
47     NaN
48     NaN
49    18.0
Name: age, dtype: float64

In [9]:
# To fill the missing values with Means
mean_age = df['age'].mean()
df['age mean'] = df['age'].fillna(mean_age)

In [ ]:
# To fill the missing values with Median
median_age = df['age'].median()
df['age median'] = df['age'].fillna(median_age)

In [11]:
df['deck'].head(10)

0    NaN
1      C
2    NaN
3      C
4    NaN
5    NaN
6      E
7    NaN
8    NaN
9    NaN
Name: deck, dtype: category
Categories (7, object): ['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [10]:
# To fill the missing values with Mode
mode_deck = df['deck'].mode()[0]
df['deck mode'] = df['deck'].fillna(mode_deck)

In [12]:
# Dropping the column
df_dropped = data.drop('deck mode',axis=1)

In [13]:
# To get all column names
df.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone', 'age mean', 'deck mode'],
      dtype='object')

In [14]:
# Renaming the column "sex" by "Gender"
df_rename = df.rename(columns = {'sex':'Gender'})
df_rename.head()

,survived,pclass,Gender,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,age mean,deck mode
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,22.0,C
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,38.0,C
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,26.0,C
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,35.0,C
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,35.0,C

In [15]:
# Selecting the column with integer datatype
integer_data = df.select_dtypes('int')
integer_data

     survived  pclass  sibsp  parch
0           0       3      1      0
1           1       1      1      0
2           1       3      0      0
3           1       1      1      0
4           0       3      0      0
..        ...     ...    ...    ...
886         0       2      0      0
887         1       1      0      0
888         0       3      1      2
889         1       1      0      0
890         0       3      0      0

[891 rows x 4 columns]

In [16]:
# Grouping the column "who" by fare
df.groupby('who').agg({'fare':'count'})

       fare
who
child    83
man     537
woman   271

In [17]:
# Maps in Pandas
df['survived'] = df['survived'].map(lambda x : 'Survived' if x == 1 else 'Not Survived')

In [21]:
# Replace
df['who'] = df['who'].replace(['man','woman'],['M','F'])

In [22]:
# To save
df.to_csv('/content/sample_data/data1.csv',index = False)

In [23]:
# The Dataset
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,age mean,deck mode
0,Not Survived,3,male,22.0,1,0,7.2500,S,Third,M,True,NaN,Southampton,no,False,22.000000,C
1,Survived,1,female,38.0,1,0,71.2833,C,First,F,False,C,Cherbourg,yes,False,38.000000,C
2,Survived,3,female,26.0,0,0,7.9250,S,Third,F,False,NaN,Southampton,yes,True,26.000000,C
3,Survived,1,female,35.0,1,0,53.1000,S,First,F,False,C,Southampton,yes,False,35.000000,C
4,Not Survived,3,male,35.0,0,0,8.0500,S,Third,M,True,NaN,Southampton,no,True,35.000000,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,Not Survived,2,male,27.0,0,0,13.0000,S,Second,M,True,NaN,Southampton,no,True,27.000000,C
887,Survived,1,female,19.0,0,0,30.0000,S,First,F,False,B,Southampton,yes,True,19.000000,B
888,Not Survived,3,female,NaN,1,2,23.4500,S,Third,F,False,NaN,Southampton,no,False,29.699118,C
889,Survived,1,male,26.0,0,0,30.0000,C,First,M,True,C,Cherbourg,yes,True,26.000000,C
890,Not Survived,3,male,32.0,0,0,7.7500,Q,Third,M,True,NaN,Queenstown,no,True,32.000000,C